.custom-navbar {
    background-color: #2c2c3e; /* Igual que login-container */
    color: #f0f0f0;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .dropdown-item {
    color: #f0f0f0;
}

.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover,
.custom-navbar .dropdown-item:hover {
    color: #f05454;
}

.custom-navbar .dropdown-menu {
    background-color: #2c2c3e;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

html { overflow-y: scroll; }

body { background-color: whitesmoke;}